<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0784B75B0604B4463CFDF657</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D85833BAAED4285DC54708C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16C9EBF4099EF187E98E6B1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D3810399E868F806ABE97CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>405598E5AB3DAE5395F7ABCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5A21E7503B7770C043E6F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F702517370E4FE61195562B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71BFB036986A33BAB8502103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>736EFFA6C5AACA7C0C3157E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77B2DFF73E4B0F606AB8242E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79604B84E9CB1530E8F43CCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C988ABBC1E90464580AAEB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3AD6C3874DF4B4DA07526E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA5813BB6924A55311D9A12E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC442E52A35012C7721707F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED0E2978D64304CFC513B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
